---
import Button from "../Button.astro";
---

<section
  id="contact"
  class="mx-auto flex w-full max-w-5xl flex-col items-start justify-center py-14 lg:items-center lg:py-24"
>
  <h2 class="mb-5 text-3xl font-semibold">Contact</h2>
  <div class="mx-auto">
    <Button href="mailto:yayou7710@hotmail.fr"> Envoyez-moi un mail ! </Button>
  </div>
</section>
