---
import Button from '../Button.astro';
---

<section id="#contact" class="flex justify-center items-start lg:items-center flex-col max-w-5xl w-full mx-auto py-14 lg:py-24">
    <h2 class="text-3xl font-semibold mb-5">Contact</h2>
    <div class="mx-auto">
        <Button href="mailto:yayou7710@hotmail.fr">
            Envoyez-moi un mail !
        </Button>
    </div>
</section>