---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import About from "../components/sections/About.astro";
import Contact from "../components/sections/Contact.astro";
import Education from "../components/sections/Education.astro";
import Hero from "../components/sections/Hero.astro";
import Projects from "../components/sections/Projects.astro";
import Skills from "../components/sections/Skills.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Header />
  <main class="min-h-full px-6 lg:px-0">
    <Hero />
    <About />
    <Skills />
    <Education />
    <Projects />
    <Contact />
  </main>
  <Footer />
</Layout>
