---
const year = new Date().getFullYear();
---

<footer class="flex items-center md:flex-row flex-col-reverse gap-y-2 px-6 pb-6">
  <p class="text-neutral-300 text-sm mx-auto">
    © {year} Bryan Florestal, Tous droits réservés.
  </p>
</footer>