---
const year = new Date().getFullYear();
---

<footer
  class="flex flex-col-reverse items-center gap-y-2 px-6 pb-6 md:flex-row"
>
  <p class="mx-auto text-sm text-neutral-300">
    © {year} Bryan Florestal, Tous droits réservés.
  </p>
</footer>
