<!DOCTYPE html>
<html lang="fr" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="author" content="Bryan Florestal" />
        <meta name="theme-color" content="#1e90ff" />
        <meta property="og:locale" content="fr_FR" />
        <meta property="og:image" content="https://i.imgur.com/wPX1sHB.jpg" />
        <meta property="og:type" content="website" />
		<meta name="generator" content={Astro.generator} />
		<title>Bryan Florestal</title>
	</head>
	<body class="h-full min-h-full w-full bg-bgcolor text-neutral-200 font-sans">
		<slot />
	</body>
</html>